    <% if (typeof user !== 'undefined') {%>
        <input type="text" id="tokenUserId" value="<%= user.token %>">
    <% } %>

    <!-- jQuery -->
    <script src="/sd-admin-2/jquery/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/sd-admin-2/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="/sd-admin-2/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript 
    <script src="/sd-admin-2/raphael/raphael.min.js"></script>
    <script src="/sd-admin-2/morrisjs/morris.min.js"></script>
    <script src="/sd-admin-2/data/morris-data.js"></script>-->

    <!-- Custom Theme JavaScript -->
    <script src="/sd-admin-2/dist/js/sb-admin-2.js"></script>

    <script src="/node_modules/vis/dist/vis.js"></script>
    <script src="/node_modules/moment/moment.js"></script>

    <!--print scripts requeired for each template-->
    
    <% if (addScripts) {%>

        <% for(var i=0; i < scripts.length; i++) { %>
           
             <script src="<%= scripts[i] %>" type="text/javascript"></script>
           
        <% } %>

    <% } %>

</body>

</html>