<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <!--<link rel='stylesheet' href='/stylesheets/style.css' />
    
    <link href="/sd-admin-2/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->

    <!-- Bootstrap Core CSS -->
    <link href="/sd-admin-2/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="/sd-admin-2/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/sd-admin-2/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/sd-admin-2/morrisjs/morris.css" rel="stylesheet">

    <!--visjs CSS -->
    <link href="/node_modules/vis/dist/vis.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/sd-admin-2/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

  </head>

<body>