<% include partials/header %>

	<div id="wrapper">

		<% include partials/navigator %>
		
		<div id="page-wrapper">

			<!-- content goes here-->
				
				<h1>Timeline - PRM</h1>

				<div id="visualization"></div>

			<!-- content goes here-->

		</div>

	</div>

<% include partials/footer %>